<h1>Edit <%= @task.title %></h1>

<%= form_for @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %> <br>
    <%= f.label :due_date %> 
    <%= f.date_field :due_date %> <br>
    <%= f.label :project_id, "Project" %>
    <%= f.collection_select :project_id, @projects, :id, :title %> <br>
    <%= f.check_box :status, placeholder: "completed"%>
    <%= f.submit %>
<% end %>