<h2><%= current_user.full_name %>'s Upcoming Tasks </h2><br>
<% @tasks.each do |task| %> <br>
    <p>
        <%= link_to task.title, task_path(task) %> due <%= task.readable_due_date %> in <%= task.project.title %>
    </p>
<% end %>
<%= link_to 'New Task', new_task_path %>