<h1><%= @task.title %></h1>
<p>This task was created by <%= @task.user.full_name %>.</p>

<h3>Details</h3>
<ul>
    <li>Due <%= @task.readable_due_date %></li>
</ul>

<% if @task.completed %>
    <%= button_to "Mark as Incomplete", task_path(@task), method: :patch, params: { :"task[completed]" => false } %>
<% else %>
    <%= button_to "Mark as Completed", task_path(@task), method: :patch, params: { :"task[completed]" => true } %>
<% end %>
<%= button_to "Edit Task", edit_task_path(@task), method: :get %>
<%= button_to "Delete Task", task_path(@task), method: :delete %>

<%= render partial: "comments/comment", locals: { object: @task } %>
