<h1><%= @task.title %></h1>
<h3>Details</h3>
<ul>
    <li>Due <%= @task.due_date.strftime("%b %d, %Y") %></li>
    <li><%= @task.user.first_name%></li>
</ul>

<% if @task.completed == false %>
    <%= form_for @task do |f| %>
        <p>Completed: <%= f.check_box :completed, checked_value: "1", unchecked_value: "0" %></p>
        <%= f.submit %>
    <% end %>
<% else %>
    <p>All done!</p>
    <%= form_for @task do |f| %>
        <p>Completed: <%= f.check_box :completed, checked_value: "1", unchecked_value: "0" %></p>
        <%= f.submit %>
    <% end %>

<% end %>