<h3>Edit <%= @project.title %> </h3>

<%= form_for @project do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br>
  <%= f.label :private, "Private?*" %> 
  <%= f.check_box :private, checked: false, unchecked: true %> <br>
  <%= f.submit %>
<% end %>
