<h3><%= @user.full_name %>'s Projects </h3><br>

<% @projects.each do |project| %>
    <%= link_to project.title, project_path(project) %>
    <%= render partial: "tasks/task_list", locals: {tasks: project.incomplete_tasks} %>
<% end %>
<%= button_to 'New Project', new_project_path, method: :get %>
<%= button_to 'New Task', new_task_path, method: :get %>
