<h2><%= @user.full_name %>'s Projects </h2><br>
<% @projects.each do |project| %>
    <%= project.title %> <br>
    <ul>
        <% project.tasks.each do |task| %>
            <li><%= task.title %></li>
        <% end %>
    </ul>
<% end %>
<%= link_to 'New Project', new_project_path %>
<%= link_to 'New Task', new_task_path %>