<nav>
    <% if user_signed_in? %>
        <%= link_to 'Edit profile', edit_user_registration_path %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: "delete" %>
        <%= link_to 'Home', root_path %>
        <%= link_to 'Projects', projects_path %>
        <%= link_to 'Tasks', tasks_path %>
        <%= link_to 'Friends', users_path %>
        <%= form_tag(users_path, method: :get) do %>
            Search other users by name or email: <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag ("Search") %>
        <% end %>
    <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
    <% end %>
</nav>