<!DOCTYPE html>
<html>
  <head>
    <title>WellDone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to 'Edit profile', edit_user_registration_path %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: "delete" %>
      <%= form_tag(users_path, method: :get) do %>
        Search other users by name or email: <%= text_field_tag(:search, params[:search]) %>
        <%= submit_tag ("Search") %>
      <% end %>
    <% else %>
      <%= link_to 'Log in with Facebook', user_facebook_omniauth_authorize_path %>
      <%= link_to 'Sign In', new_user_session_path %>
    <% end %>

    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Projects', projects_path %>
      <%= link_to 'Tasks', tasks_path %>
      <%= link_to 'Friends', users_path %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
