<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "WellDone" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Get Things Done Well" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper">
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <% if notice == "Signed out successfully."%>
      <p>Please note: <%= link_to 'Click here to sign out of your Google account.', 'https://accounts.google.com/signin' %> </p>
    <% end %>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>


    <%= yield %>
    </div>
  </body>
</html>
